.title {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 40px;
}

.item {
  width: 32%;
  overflow: hidden;
  background: #fff;
  border-radius: 5px;
}

.item .img {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.item .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item .content {
  padding: 15px;
}

.item .content h2 {
  font-size: 22px;
  margin: 0;
}

.item .content h2 a {
  color: #000;
  text-decoration: none;
}

.item .content p {
  color: #000;
  text-decoration: none;
  font-size: 16px;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.item:hover {
  box-shadow: 1px 5px 10px #00000059;
  transition: 0.5s;
}

.item .content button {
  width: 100%;
  padding: 6px 0;
  background: #fff;
  border: 1px solid #8080809c;
  border-radius: 3px;
}

.item .content button:focus {
  outline: 0;
}

.item:hover .img img {
  transform: scale(1.2);
  transition: 0.5s;
}

.item:hover .content h2 a {
  color: green;
  transition: 0.5s;
}

.item:hover .content button {
  color: #fff;
  background: green;
  transition: 0.5s;
  cursor: pointer;
}

.element_card {
  display: flex;
  background: #80808024;
  width: 1170px;
  margin: auto;
  justify-content: space-between;
  padding: 15px;
}

.element_style_2 {
  width: 1170px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}
.element_style_2 .item_1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
.element_style_2 .item_1:hover {
  box-shadow: 1px 5px 10px #00000059;
  transition: 0.5s;
}
.element_style_2 .item_1 .img {
  width: 66%;
  height: 400px;
  overflow: hidden;
  background: #ededed;
}
.element_style_2 .item_1 .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.element_style_2 .item_1 .content {
  width: 32%;
  float: right;
}
.element_style_2 .item_1 .content h2 {
  margin: 0;
}
.element_style_2 .item_1 .content h2 a {
  color: #000;
  text-decoration: none;
}
.element_style_2 .item_1 .content h2 a:hover {
  text-decoration: none;
  color: green;
}
.element_style_2 .item_1 .content p {
  color: #000;
  font-size: 16px;
}
.element_style_2 .item_1 .content p span {
  color: #868686;
  font-size: 16px;
}
.element_style_2 .item_2 {
  width: 32%;
  overflow: hidden;
}
.element_style_2 .item_2:hover {
  box-shadow: 1px 5px 10px #00000059;
  transition: 0.5s;
}
.element_style_2 .item_2 .img {
  width: 100%;
  height: 150px;
  background: #ededed;
}
.element_style_2 .item_2 .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.element_style_2 .item_2 .content {
  width: 100%;
  padding: 15px;
}
.element_style_2 .item_2 .content h2 {
  margin: 0;
}
.element_style_2 .item_2 .content h2 a {
  color: #000;
  text-decoration: none;
}
.element_style_2 .item_2 .content h2 a:hover {
  text-decoration: none;
  color: green;
}
.element_style_2 .item_2 .content p {
  color: #000;
  font-size: 16px;
}
.element_style_2 .item_2 .content p span {
  color: #868686;
  font-size: 16px;
}

.section_menu {
  background: #24354b;
}
.section_menu ul {
  display: flex;
  padding-left: 0;
}
.section_menu ul .submenu {
  display: block;
  visibility: hidden;
  position: absolute;
  top: 100%;
  opacity: 0;
  width: 150px;
  background: #24354b;
  left: 0;
  padding-left: 0;
}
.section_menu ul .submenu li {
  background: #385671;
  width: 100%;
  border-bottom: 1px dashed #fff;
}
.section_menu ul .submenu .submenu_child {
  display: block;
  visibility: hidden;
  position: absolute;
  top: 0%;
  left: 100%;
  opacity: 0;
  width: 150px;
  background: #567987;
  padding-left: 0;
}
.section_menu ul .submenu .submenu_child li {
  width: 100%;
  background: #567987;
  border-bottom: 1px dashed #fff;
}
.section_menu ul li {
  list-style: none;
  position: relative;
  padding: 15px;
  width: 135px;
}
.section_menu ul li a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}
.section_menu ul li a:hover {
  text-decoration: none;
  color: #fff;
}
.section_menu ul li span img {
  width: 12px;
  margin-right: 10px;
}
.section_menu ul li:hover {
  background: #049fe1;
}
.section_menu ul li:hover .submenu {
  opacity: 1;
  visibility: visible;
  z-index: 999;
}
.section_menu ul li:hover .submenu li {
  position: relative;
}
.section_menu ul li:hover .submenu li:hover {
  background: #049fe1;
}
.section_menu ul li:hover .submenu li:hover .submenu_child {
  opacity: 1;
  visibility: visible;
  z-index: 999;
}